[Unit]
Description=xraytproxy service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/your-path/xraytproxy.sh start
ExecStop=/your-path/ilzumi/Scripts/xraytproxy.sh stop
